.contact-container {
    margin: auto;
    padding: 4.8rem 0;
}

.contact-container h2{
    font-size: 2rem;
    margin-bottom: 1.8rem;
    font-weight: 700;
    color:#2e3762;
    letter-spacing: 3px;
}


.contact-container form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contacto-form{
    background-color: #f0f4f8; 
    border-radius: 10px; 
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}




@media (min-width: 850px) {
    .contact-container {
        padding: 4.8rem 2rem;
        width: 80%;
    }
    .contact-container h2{
        font-size: 2.2rem;
    }
    
}