.contact-container {
    font-family: "Poppins", sans-serif;
    padding: 7rem 2rem;
    justify-content: center;
  }
  
  .consulta-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }
  
  .consulta {
    flex: 1;
    margin-right: 2rem;
  }
  
  .consulta h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #2e3762;

  }
  
  .consulta p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
  }

  .consultas{
    margin: 2rem 0;
  }
  
  .consultas ul {
    list-style: none;
    padding: 0;
  }
  
  .consultas li {
    font-size: 1rem;
    margin: 1rem auto;
    color: #555;
  }
  
  .map-container {
    flex: 1;
  }
  
  .form-container {
    margin: 4rem 0 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  input, select, textarea {
    width: 80%;
    border-radius: 12px 8px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #383737;
  }
  
  .consul   {
    width: 120px;
    padding: .7rem 1rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    /* letter-spacing: 2px; */
    border-radius: 5px;
    background-color: #2e3762;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
   .consul:hover {
    background-color: #375094;
  }

  .error {
    border: 2px solid rgb(237, 7, 7);
  }
  
  .error-text {
    color: rgb(237, 7, 7);
    font-size: 12px;
    margin-top: 5px;
  }
  
  
  @media (max-width: 850px) {
    .consulta-container {
      flex-direction: column;
    }
  
    .map-container {
      margin-top: 2rem;
    }

    .form-container{
        width: 100%;
        
    }
  }
  