
.inicio{
    width: 100%;
    /* min-height: 60vh; */
    margin: 0 auto;
}

.image-home {
    position: relative;
    display: flex; 
    flex-direction: column;
    width: 100%; 
    padding: 4.8rem 0 ;
    text-align: center;
}


.responsive-image {
    width: 100%;
    height: auto;
    max-height: 1200px;
    object-fit: cover;
}


.centered-text {
    max-width: 1200px;
    margin: 20px 2rem;
    display: flex;
    font-weight: 700;
    color: rgb(8, 36, 68);
}

.centered-text p {
    padding: 0px 12px;
    font-size: 1.2rem; 

}

@media (min-width: 768px) {

    .responsive-image {
        max-height: 800px; /* Ajusta la altura máxima para pantallas grandes */
        object-fit: cover;
    }


    .centered-text p {
        font-size: 2rem; /* Tamaño de fuente más grande para pantallas más grandes */
    }
}


/* Turnos */

.turno{
    margin-top: 25px;
    padding: .7rem 2.2rem;
    animation: tp-rotate 2.0s infinite linear;
    border-radius: 12px 12px;
    border: none;
    background-color: rgb(29, 75, 126);
    &:hover{
        transition: .4s;
        background-color: rgb(29, 75, 126,.7);
    }
}

.turno p{
    font-size: 1rem;
    color: #f3f2f2;
    font-weight: normal;
}


