.personal-container {
    min-height: 60vh;
    padding: 4.8rem 0;
    background-color: rgb(250, 252, 254);
    display: block;
}

.personal-container h2 {
    color: #2e3762;
    letter-spacing: 3px;
    font-size: 1.8rem;
    margin: 2rem auto 1rem;
    font-weight: 700;
    text-align: center; /
}

.listado {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px; 
    margin: 2rem auto;
    padding: 1rem 2rem;
    max-width: 1200px; 
}

.card {
    background: rgb(247, 245, 245); 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    padding: 1rem 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

/* .card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
} */

.card-content {
    padding: 2rem; 
}

.card-content h3 {
    color: #2e3762; 
    font-size: 1.4rem;
    margin: 0;
}

.card-content h4 {
    color: #666; 
    font-size: 1rem;
    margin-top: 0.5rem;
}

@media (min-width: 850px) {
    .listado {
        display: grid;
        grid-template-columns: repeat(4, 2fr); 
        gap: 30px; 
    }
    
}